<div class="calculator-container">
  <div class="card-container history">
    <table *ngIf="!(error$ | async)">
      <tr *ngFor="let item of history$ | async; let i = index" [id]="i">
        <td class="card-container history-input">{{ item }}</td>
        <td class="card-container history-result">{{ item | evaluate }}</td>
      </tr>
    </table>
    <img
      *ngIf="error$ | async"
      src="https://media.tenor.com/Yjx_r38x1aYAAAAd/mind-blown-explosion.gif"
      alt=""
    />
  </div>
  <div class="card-container entry">{{ entry$ | async }}</div>

  <div class="card-container">
    <button class="card card-small" (click)="allClear()" tabindex="0">
      <span>AC</span>
    </button>
    <button class="card card-small" (click)="clearEntry()" tabindex="0">
      <span>CE</span>
    </button>
    <button class="card card-small" (click)="switchSign()" tabindex="0">
      <span>+</span>
      <span>/</span>
      <span>-</span>
    </button>
    <div class="card card-small hidden"></div>
  </div>

  <div class="card-container">
    <button class="card card-small" (click)="pressNumber(7)" tabindex="0">
      <span>7</span>
    </button>
    <button class="card card-small" (click)="pressNumber(8)" tabindex="0">
      <span>8</span>
    </button>
    <button class="card card-small" (click)="pressNumber(9)" tabindex="0">
      <span>9</span>
    </button>
    <button class="card card-small" (click)="pressSlash()" tabindex="0">
      <span>&divide;</span>
    </button>
  </div>

  <div class="card-container">
    <button class="card card-small" (click)="pressNumber(4)" tabindex="0">
      <span>4</span>
    </button>
    <button class="card card-small" (click)="pressNumber(5)" tabindex="0">
      <span>5</span>
    </button>
    <button class="card card-small" (click)="pressNumber(6)" tabindex="0">
      <span>6</span>
    </button>
    <button class="card card-small" (click)="pressTimes()" tabindex="0">
      <span>&times;</span>
    </button>
  </div>

  <div class="card-container">
    <button class="card card-small" (click)="pressNumber(1)" tabindex="0">
      <span>1</span>
    </button>
    <button class="card card-small" (click)="pressNumber(2)" tabindex="0">
      <span>2</span>
    </button>
    <button class="card card-small" (click)="pressNumber(3)" tabindex="0">
      <span>3</span>
    </button>
    <button class="card card-small" (click)="pressMinus()" tabindex="0">
      <span>&minus;</span>
    </button>
  </div>

  <div class="card-container">
    <button class="card card-small" (click)="pressNumber(0)" tabindex="0">
      <span>0</span>
    </button>
    <button class="card card-small" (click)="pressDot()" tabindex="0">
      <span>.</span>
    </button>
    <button class="card card-small" (click)="pressEquals()" tabindex="0">
      <span>=</span>
    </button>
    <button class="card card-small" (click)="pressPlus()" tabindex="0">
      <span>+</span>
    </button>
  </div>
</div>
